@import url("./checkBoxStyle.css");
:root {
    --main-green: #357731;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.buttons {
    border: none;
    background-color: var(--main-green);
    width: 160px;
    height: 53px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border-radius: 6px;
}
.buttons:hover {
    color: #000;
}
h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #202020;
}
header {
    display: flex;
    justify-content: center;
    background-image: url("./img/headerBackground.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.headerContainer {
    max-width: 1173px;
    width: 100%;
    min-height: 712px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo span {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 20px;
}
.navBar {
    display: flex;
    max-width: 459px;
    width: 100%;
}
.navBar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
}
header .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .phoneNumber span {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.contacts .phoneNumber span {
    padding-left: 10px;
}
.contacts span {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.headerTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headerTitle h1 {
    margin-top: 38px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #fff;
}
.headerTitle h1 span {
    color: #DBE285; 
}
.headerTitle h2 {
    margin-top: 19px;
    font-weight: 700;
    font-size: 27px;
    line-height: 150%;
    color: #fff;
}
.renthouseDate {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.renthouseDate span {
    margin-left: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.headerTitle .rentButton {
    margin-top: 47px;
    width: 268px;
}
main {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainWrapper {
    max-width: 1173px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info {
    min-height: 162px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E3ECE2;
}
.info .mainWrapper {
    flex-direction: row;
    justify-content: space-between;
}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info-item .itemUpper {
    display: flex;
    justify-content: center;
}
.info-item .itemUpper span {
    margin-left: 20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-transform: uppercase;
    color: #787878;
}
.info-item span {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #202020;
}
.description {
    width: 100%;
    min-height: 731px;
    display: flex;
    justify-content: center;
    background-image: url("./img/descriptionBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.description .mainWrapper {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 131px;
}
.description h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    margin-right: 45px;
    padding-top: 41px;
    padding-right: 83px;
    padding-left: 48px;
    padding-bottom: 45px;
}
.description ul {
    background-color: #fff;
    padding-left: 23px;
    padding-top: 33px;
    padding-bottom: 33px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.description ul li {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.description ul li span {
    padding-left: 10px;
}
.description .benefitsButton {
    margin-top: 32px;
    width: 373px;
}
.districtStructure {
    margin-top: 91px;
    display: flex;
}
.districtStructure img {
    margin-top: 37px;
    width: 100%;
}
.districtStructure .districtButton {
    margin-top: 39px;
    width: 268px;
}
.villageBenefits {
    margin-top: 91px;
}
.villageBenefits .benefitsGallery {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.benefitsGallery .benefitsGallery-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 28px;
}
.benefitsGallery-item span {
    border-left: 2px solid var(--main-green);
    min-height: 59px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 100%;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #202020;
}
.howToBuy {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.howToBuy span {
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #202020;
}
.howToBuyItems {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.howToBuy-item {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.howToBuy-item h4 {
    margin-top: 21px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
}
.howToBuy-item span {
    margin-top: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    color: #202020;
}
.howToBuy .howToBuyButton {
    margin-top: 80px;
    width: 268px;
}
.hypotec {
    margin-top: 99px;
    min-height: 428px;
    width: 100%;
    background-image: url("./img/hypotecBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.hypotec .mainWrapper {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
}
.hypotecList h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.01px;
}
.hypotecList ul {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    color: #FFFFFF;
    list-style-type: square;
    list-style-image: url("./img/square.png");
}
.hypotecContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    margin-left: 134px;
}
.hypotecContacts input {
    border: 1px solid #fff;
    background-color: transparent;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 14px;
    padding-left: 23px;
    padding-right: 64px;
    padding-bottom: 14px;
}
.hypotecContacts .secondInput {
    margin-top: 8px;
}
.gallerySection {
    margin-top: 92px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.galleryItems {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.gallery-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 92px;
}
footer .footerContactsContainer {
    margin-top: 34px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .footerContacts {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer .footerPhone {
    display: flex;
}
footer .phoneNumber-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer .phone {
    display: flex;
    width: 100%;
}
footer .phone span {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #202020;
    margin-left: 6px;
}
footer .footerPhone button {
    margin-left: 25px;
}
footer .mail {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #202020;
    margin-left: 44px;
}
footer .footerTimetable {
    margin-top: 23px;
    display: flex;
    align-items: flex-start;
}
footer .footerTimetable span {
    margin-left: 19px;
}
footer .footerAdres {
    margin-top: 42px;
    display: flex;
    align-items: flex-start;
}
footer .footerAdres span {
    margin-left: 19px;
}
footer .footerLogo {
    margin-top: 50px;
}
#menu {
    z-index: 2;
    position: fixed;
    display: none;
}
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 10px;
    cursor: pointer;
    position: fixed; 
    z-index: 12; 
}
.bar {
    height: 5px;
    width: 100%;
    background-color: var(--main-green);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}
.nav {
    transition: 0.3s ease;
    display: none;
    position: fixed;
}
.nav ul {
    padding: 0 22px;
    margin-top: 70px;
}
.nav li {
    list-style: none;
    padding: 12px 0;
}
.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover {
    font-weight: bold;
}
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 40px;
    background: radial-gradient(circle, var(--main-green), var(--main-green));
    border-radius: 50%;
    transition: 0.3s ease;
    position: fixed;
}
.change {
    display: block;
    position: fixed;
}
.change .bar {
    background-color: white;
}
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2 {
    opacity: 0;
}
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
}
@media (max-width: 1140px) {
    h1 {
        font-size: 1.5em !important;
    }
    h2 {
        font-size: 1.5em !important;
    }
    h3 {
        font-size: 1.5em;
    }
    .gallery-item {
        justify-content: center;
        gap: 30px;
    }
    .gallery-item:nth-child(1) {
        gap: 29px;
    }
    .footerContactsContainer {
        flex-direction: column-reverse !important;
        align-items: center;
    }
    .footerContacts {
        align-items: center
    }
    .footerLogo {
        width: 90%;
    }
}
@media (max-width: 960px) {
    .description .mainWrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .description .mainWrapper h3 {
        margin-right: 0;
    }
    .howToBuyItems {
        flex-wrap: wrap;
        justify-content: center;
    }
    .description .mainWrapper .benefits {
        margin-bottom: 20px;
    }
}
@media (max-width: 870px) {
    .navBar {
        display: none;
    }
    #menu {
        display: block;
    }
}
@media (max-width: 750px) {
    .info .info-item {
        width: 50%;
        align-items: center;
        margin-bottom: 10px;
    }
    .info .info-item .itemUpper span {
        font-size: 3em;
    }
    .info .info-item:last-child {
        width: 100%;
    }
    .info .mainWrapper {
        flex-wrap: wrap;
    }
    .villageBenefits .benefitsGallery {
        justify-content: center;
    }
    .wideImage {
        width: 100%;
    }
}
@media (max-width: 630px) {
    .hypotec .mainWrapper {
        flex-direction: column;
        align-items: center;
    }
    .hypotec .hypotecContacts {
        margin-left: 0;
    }
}
@media (max-width: 590px) {
    .headerContainer .logo-navBar, .headerContainer .logo {
        flex-direction: column;
    }
    h1, h2 {
        text-align: center;
    }
    .headerContainer .headerTitle {
        align-items: center;
    }
    .description .benefits .benefitsButton {
        width: 15em;
        margin-left: 50px;

    }
}
@media (max-width: 380px) {
    .info .info-item {
        width: 100%;
        align-items: center;
    }
    footer .footerPhone {
        flex-direction: column;
        gap: 10px;
    }
    .villageBenefits .mainWrapper .benefitsGallery img {
        width: 100%;
    }
    .description .mainWrapper h3 {
        padding-left: 20px;
        padding-right: 20px;
    }
}